@CHARSET "US-ASCII";

.news-body {
	margin-top: 40px;
}

.news-headlines {
	min-height: 500px;
}

.news-text-box {
	min-height: 500px;
}

.news-text {
	padding: 30px;
	text-align: justify;
}

.news-text h1 {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 30px;
	color: #ffb732;
	text-align: center;
}

.news-text h2 {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 20px;
	color: #ffb732;
	text-align: center;
}