@CHARSET "US-ASCII";

.span6 {
	margin-left: 20px;
}

small {
	color: #FF6666;
}

.minibuttons {
	margin-left: 18%;
	margin-top: 1%;
}

input.has-visited.ng-invalid:not(.has-focus) {
	border-color: #FF6666;
}

.month-select {
	width: 110px;
}

.day-select {
	width: 60px;
}

.year-select {
	width: 80px;
}