<div class="modal-header">
    <button class="close" ng-click="closeChooseAvatar()">&times;</button>
    <h4>Change avatar:</h4>
</div>
<div class="modal-body" ng-hide="alertShow">
<!-- 	<p align="center"><input id="inputImage" type="file" accept="image/*" image="image2"  -->
<!-- 		resize-max-height="300" resize-max-width="250" resize-quality="0.7" /></p> -->
<!--  	<p align="center"><img class="img-polaroid img-rounded" rotate degrees="heading"  src="{{image2.url}}" ng-src="{{image2.resized.dataURL}}" type="{{image2.file.type}}"></p> -->
testing
</div>
<div class="modal-footer">
   	<button class="btn" ng-click="closeChooseAvatar()"><i class="icon-share"></i> NO</button>
   	<button class="btn btn-info" ng-click="single(image2.resized)" ng-hide="alertShow"><i class="icon-white icon-picture"></i> UPLOAD</button>
</div>