<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.nrivishwakarma.servlets.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/nrivishwakarma/greet</url-pattern>
  </servlet-mapping>
  <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>com.nrivishwakarma.servlets.RegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>com.nrivishwakarma.servlets.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
  
    <servlet>
        <servlet-name>ForgotPass</servlet-name>
        <servlet-class>com.nrivishwakarma.servlets.PassSendServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgotPass</servlet-name>
        <url-pattern>/ForgotPass</url-pattern>
    </servlet-mapping>
  	<servlet>
        <servlet-name>GetSecurityQuestion</servlet-name>
        <servlet-class>com.nrivishwakarma.servlets.GetSecurityQuestionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetSecurityQuestion</servlet-name>
        <url-pattern>/GetSecurityQuestion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckSecurityAnswer</servlet-name>
        <servlet-class>com.nrivishwakarma.servlets.CheckSecurityAnswerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckSecurityAnswer</servlet-name>
        <url-pattern>/CheckSecurityAnswer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdatePassword</servlet-name>
        <servlet-class>com.nrivishwakarma.servlets.UpdatePasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdatePassword</servlet-name>
        <url-pattern>/UpdatePassword</url-pattern>
    </servlet-mapping>
   <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.nrivishwakarma.servlets.LoginValidationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>NRIVishwaKarma.html</welcome-file>
  </welcome-file-list>

</web-app>
